/*公共样式*/
body{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;
}
.clearFix{zoom:1;}
.clearFix:after{
    content:"";
    display:block;
    clear:both;
}
.layui-tab-bar{
    display:none;
}
.main_body{ min-width:320px; }
.layui-elem-quote.title{ padding:10px 15px; margin-bottom:0; }
.layui-tab-more{ position: relative; z-index: 99; background:#fff; }
.layui-layer-tab .layui-layer-title span.layui-layer-tabnow{ height:42px !important; }
.layui-layer-tab .layui-layer-title span{ min-width:45px !important; }
/*模拟加载层图标样式*/
.layui-layer-dialog .layui-layer-content .layui-layer-ico16{ -moz-background-size:100% 100% !important; background-size:100% 100% !important; }

/*样式改变的过渡*/
.logo,.top_menu .layui-nav-item[pc],.component,.top_menu .layui-nav-item[mobile],.layui-nav,.layui-layout-admin .layui-main,.site-mobile .layui-side,.layui-layout-admin .layui-side,.site-mobile .site-tree-mobile,.layui-body,.layui-layout-admin .layui-footer,.layui-layout-admin .layui-side,.panel,.panel .panel_icon i{ transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out; }
.layui-layout-admin .layui-side{top:60px;}

.logo{ color: #fff; font-size: 20px;}
.weather{ color:#fff; float:left; margin:15px 0 0 50px;}
.component{ float: left; width:200px; height:30px; margin-top: 15px; position: relative;}
.component .layui-input{ height:30px; line-height: 30px; font-size:12px; border:none; -webkit-transition: all 0.3s; -o-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.component .layui-input:focus{ background:#fff; color:#000; }
.component .layui-form-select dl{ top:33px; background:#fff; }
.component .layui-form-select .layui-edge,.top_menu .layui-nav-item[mobile]{ display:none; }
.component .layui-icon{ position: absolute; right:8px; top:8px; color:#000; }
.layui-header .layui-nav-bar{
    top: 0px!important;
    height: 2px;
    background: #000;
}
.layui-nav-tree .layui-nav-bar{
    height:56px!important;
    opacity: 0;
}
/*顶部右侧导航*/
.layui-header{height:50px;}
.layui-layout-left{
    padding:0 10px;
    position: absolute;
    left: 220px;
    top: 0;
}
.layui-header .layui-nav .layui-nav-item{
    height: 50px;
    line-height: 50px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.layui-header  a{
    color: #333;
}
/*header*/
.layui-layout-admin .layui-side{top:0;width:220px;z-index:99999;}
.layui-layout-admin .layui-main{margin:0;height:50px;}
.left_header {
    /*float: left;*/
    width:100%;line-height: 49px;
    text-align:center;
    background-color: #2F9688;
}

.right_header {
    float: left;
}
.layui-nav .layui-nav-item a,.layui-nav .layui-nav-item a:hover{
    color:#333;
}
/*header*/
.layui-layout-admin .layui-header .layui-nav .layui-nav-more{
    top:50%;margin-top: -3px;
    border-top-color: #666;
}
.layui-layout-admin .layui-header .layui-nav .layui-nav-mored{
    margin-top: -9px;
    border-color: transparent transparent #666;
}
.top_menu{ position:absolute; top:0;right:0; background:none }
.top_menu.layui-nav .layui-this{ background-color:transparent; }
.top_menu.layui-nav .layui-this a{ color:#333; }
.top_menu.layui-nav dd.layui-this a{ color:#333; }
.top_menu.layui-nav .layui-nav-child{left: auto;right: 0;top:55px;}
.top_menu .iconfont{ font-size: 14px !important; }
.top_menu.layui-nav .layui-this:after{top: 0;
    bottom: auto;
    height: 2px;
    width: 100%;
    background: #000;}
/*左侧用户头像*/
.layui-layout-admin .layui-logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1002;
    width: 220px;
    height: 49px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-weight: 300;
    background-repeat: no-repeat;
    background-position: center center;
}
.layui-layout-admin .layui-header{background-color: #fff;border-bottom: 1px solid #f6f6f6;}
.layui-layout-admin .layui-logo, .layui-layout-admin .layui-logo a{
    color: #fff;
    color: rgba(255,255,255,.8);
}
.layui-layout-admin .layui-side{ left:0; }
.layui-side .layui-nav {
    width: 220px;
    padding-top: 50px;
    background: 0 0;
}
/*.user-photo a.img{ display: block;height: 49px; font-size: 0; line-height: 49px;}*/
/*.user-photo a.img img{ margin-right:5px;height:32px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: 4px solid #44576b;vertical-align: middle;}*/
.user-photo p{ display: block; width: 100%; height: 25px; color: #ffffff; text-align: center; font-size: 12px; white-space: nowrap;line-height: 25px; overflow: hidden;}
.logo span {
    /*display: inline-block;    vertical-align: middle;*/
    font-size:16px;
}
/*左侧导航重定义*/
.layui-tree li{-o-text-overflow: ellipsis;text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.layui-tree li a{
    font-size: 0;
}
.layui-tree li h2 a{
    font-size:inherit;
    color: inherit;
}
.layui-nav-tree{width:100%;}
.layui-nav-tree .layui-nav-item>a{
    position: relative;
    padding: 8px 30px 8px 45px;
    height: 40px;line-height: 40px;
    /*border-left: 5px solid #009E94;*/
    background-color: #f2f2f2;color:#333;
}
.layui-nav-tree .layui-nav-item>a,
.layui-nav-tree .layui-nav-item>a:hover {
    background: #3A3D49;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
.layui-nav-tree .layui-nav-item>a i{
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -19px;
}
.layui-nav-tree .layui-nav-itemed>a,
.layui-nav-tree .layui-nav-itemed>a:hover{
    background: #3A3D49!important;
}
.layui-nav-tree .layui-nav-itemed .layui-nav-more{
    margin-top: -9px;
}
.layui-nav-tree .layui-nav-itemed .layui-nav-child{
    display:block;
}
.site-tree .layui-tree {
    line-height: 32px;
}
.site-tree .layui-tree li a cite {
    padding: 0 8px;
}
.site-tree .layui-tree .site-tree-noicon a cite {
    padding-left: 15px;
}
.site-tree .layui-tree li a em {
    font-size: 12px;
    color: #bbb;
    padding-right: 5px;
    font-style: normal;
}
.site-tree .layui-tree .layui-this a {
    color: #01AAED;
}
/*.layui-nav{background:#fff;}*/
.layui-nav-item a cite{ padding:0 5px; }
.layui-side-scroll{ width:240px;height:100%; }
.layui-nav-tree .layui-nav-child{padding: 5px 0;display:none;
    background-color:#282B33;
    background-color: rgba(0,0,0,.3);
}
.layui-nav-tree .layui-nav-child a{ padding-left: 45px;padding-right: 30px;line-height:40px;height:40px;}
.layui-nav-tree .layui-nav-child a:hover{ color:#777; }
.layui-nav-tree .layui-nav-child dd.layui-this a:hover{ background-color:#009688; }
/*.layui-nav-tree .layui-nav-item a{line-height:45px;}*/
.layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a,.layui-nav-tree .layui-nav-child dd.layui-this a:hover{background:none;color: #01AAED;}
.layui-nav.layui-layout-left .layui-nav-item{
    margin:0 20px;
}
.layui-nav.layui-layout-left .layui-nav-item a{
    padding: 0;
}
/*.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a,
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{color:#333;}
.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover{background-color: #f2f2f2!important;color:#333!important;}
.layui-nav .layui-nav-child a{color:#333;}*/
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a{
    background-color: #5FB878 !important;
}
.layui-nav-tree .layui-nav-child dd a:hover{ background:none;color:#777; }
.layui-nav-tree .layui-nav-more{
    top: 50%;
    right: 15px;
    margin-top: -3px;
}
.layui-nav-child{padding:0;}

.layui-side {
    background: #393D49;
}
.navBar .layui-nav .layui-nav-child a {
    color:#BFC0C2;
    /*color: rgba(255, 255, 255, .7);*/
}

.navBar .layui-nav .layui-nav-child a:hover,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-nav-child dd.layui-this a:hover {
    color: #fff;
}

/*右侧body*/
.layadmin-pagetabs .layadmin-tabs-control{
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;line-height: 40px;
    text-align: center;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-transition: all .3s;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-left: 1px solid #f6f6f6;
    z-index:999;
    background: #fff;
}
.layui-tab[overflow]>.layui-tab-title{
    overflow:auto;
    width:300%;
}
.layadmin-pagetabs .layui-icon-prev{
    left: 0;
    border-left: none;
    border-right: 1px solid #f6f6f6;
}
.layadmin-pagetabs .layui-icon-next {
    right: 40px;
}
.layadmin-pagetabs .layui-icon-down {
    right: 0;
}
.layui-body{overflow:hidden;left:220px;border-left:1px solid #eee;}
.layui-layout-admin .layui-body{top:50px;}
.layui-tab-content{ height:100%; padding:0; }
.layui-tab-item{ position: absolute; top: 42px; bottom:0; left: 0; right: 0; padding: 0; margin: 0;-webkit-overflow-scrolling: touch;}
.marg0{ margin:0; }
.layui-tab-title{
    padding:0 80px 0 40px;
    border:none;color:#666;
}
.layui-tab-title li{
    min-width: 0;
    line-height: 40px;
    max-width: 160px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding-left: 15px;
    padding-right: 40px;
    overflow: hidden;
    border-right: 1px solid #f6f6f6;
    vertical-align: top;
}
.layui-tab-title li:first-child{
    padding-right:15px;
}
.layui-tab-title li:after{
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 0;
    height: 2px;
    -moz-border-radius: 0;
         border-radius: 0;
    background-color: #292B34;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.layui-tab-title li:hover:after{
    width:100%;
}
.layadmin-tabs-select.layui-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: 0 0;
}
.layadmin-tabs-select.layui-nav .layui-nav-item {
    line-height: 40px;
}
.layadmin-tabs-select.layui-nav .layui-nav-item a {
    color: #666;
}
.layadmin-tabs-select.layui-nav .layui-nav-item>a {
    height: 40px;
}
.layadmin-pagetabs .layui-tab-title li:first-child .layui-tab-close, .layadmin-tabs-select.layui-nav .layui-nav-bar, .layadmin-tabs-select.layui-nav .layui-nav-more {
    display: none;
}
.layadmin-tabs-select.layui-nav .layui-nav-child {
    top: 40px;
    left: auto;
    right: 0;
}
.layadmin-tabs-select.layui-nav .layui-nav-item a {
    color: #666;
}
.layadmin-pagetabs .layadmin-tabs-control:hover {
    background-color: #f6f6f6;
}
.tab_header{
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
       -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.layui-tab-title li:hover,.layui-tab-title .layui-this{ background-color:#f6f6f6;  }
.layui-tab-title .layui-this{
    color:#000;
}
.layui-tab-title .layui-this:after{ height: 2px;border:none; top: 1px;background-color: #3A3D49;}
.layui-tab-title li .layui-tab-close{
    position: absolute;
    right: 8px;
    top: 50%;
    margin: -7px 0 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    font-size: 12px;
}
.layui-tab-title li cite{ font-style: normal; padding-left:5px; }
.layui-tab-title .iconfont{
    font-size:18px;
}
.clildFrame.layui-tab-content{ padding-right: 0; }
.clildFrame.layui-tab-content iframe{ width: 100%; height: 100%; border:none; min-width: 320px; }
/*main.html*/
.row,.col,.panel_word,.panel_icon{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
.row{ margin-left:-10px; overflow:hidden;}
.col{ padding-left:10px;}
.panel{float: left; text-align: center; width:16.666%; min-width:210px; margin-bottom: 10px;}
.panel_box a{display:block; background-color:#f2f2f2; -moz-border-radius:5px; border-radius:5px; overflow:hidden; }
.panel_icon{ width:40%; display: inline-block; padding:22px 0; background-color:#54ade8;float:left;}
.panel_icon i{ font-size:3em; color:#fff;}
.panel a:hover .panel_icon i{ display:inline-block; transform:rotate(360deg); -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -o-transform:rotate(360deg); -ms-transform:rotate(360deg);}
.panel_word{ width:60%; display: inline-block; float:right; margin-top: 22px; }
.panel_word span{ font-size:25px; display:block; height:30px; line-height:30px; }
.allNews em{ font-style:normal; font-size:16px;display: block; }
.panel_box a .allNews cite{ display:none; }
.panel_box a cite{ font-size:16px; display: block; font-style:normal; }
.sysNotice{ width:50%; float: left; }
.sysNotice .layui-elem-quote{ line-height:26px; position: relative;}
.sysNotice .layui-table{ margin-top:0; border-left:5px solid #e2e2e2; }
.sysNotice .title .icon-new1{ position: absolute; top:8px; margin-left: 10px; color:#f00; font-size:25px; }

/*锁屏*/
.admin-header-lock{width: 320px; height: 170px; padding: 20px; position: relative; text-align: center;}
.admin-header-lock-img{width: 60px; height: 60px; margin: 0 auto;}
.admin-header-lock-img img{width: 60px; height: 60px; -moz-border-radius: 100%; border-radius: 100%;}
.admin-header-lock-name{color: #009688;margin: 8px 0 15px 0;}
.input_btn{ overflow: hidden; margin-bottom: 10px; }
.admin-header-lock-input{width: 170px; color: #fff;background-color: #009688; float: left; margin:0 10px 0 40px; border:none;}
.admin-header-lock-input::-webkit-input-placeholder {color:#fff;}
.admin-header-lock-input::-moz-placeholder {color:#fff;}
.admin-header-lock-input::-ms-input-placeholder {color:#fff;}
.admin-header-lock-input:-moz-placeholder {color:#fff;}
#unlock{ float: left; }
#lock-box p{ color:#e60000; }

/*底部*/
.footer{ text-align: center; line-height:44px;border-left:1px solid #eee;}


/*响应式*/
@media screen and (max-width:1282px){
    .panel{ width:33.3333%; }
}
@media screen and (max-width:1050px){
    .layui-nav.top_menu .layui-nav-item a{ padding:0 10px; }
    /*天气信息*/
    .weather[pc]{ display: none !important; }
    .sysNotice{ width:100%; }
}
@media screen and (max-width: 750px){
    .logo{ padding:0;}
    .top_menu .layui-nav-item[pc],.component,.site-mobile .site-tree-mobile{ display: none !important; }
    .top_menu .layui-nav-item.showNotice[pc]{ display:inline-block !important; }
    .top_menu .layui-nav-item[mobile]{ display:inline-block; }
    .layui-nav.top_menu,.layui-nav.top_menu .layui-nav-item a{ padding:0 10px; }
    .layui-layout-admin .layui-main{ margin-right: 0; }
    
    /*左侧导航*/
    /*.layui-layout-admin .layui-side{ left:-260px; }*/
    .layui-layout-admin .layui-side{ -webkit-transform:translateX(-260px); -moz-transform:translateX(-260px); -ms-transform:translateX(-260px); transform:translateX(-260px); }
    .site-mobile .layui-side{ -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0); z-index:9999; }
    .site-tree-mobile {display: block!important; position: fixed; z-index: 100000; bottom: 15px; left: 15px; width: 50px; height: 50px; line-height: 50px; -moz-border-radius: 2px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
    .site-mobile .site-mobile-shade { content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.8); z-index: 999;}
    /*右侧*/
    .layui-layout-left{left:0;}
    /*layui-body*/
    .panel{ width:50%; }

    .layui-body,.layui-layout-admin .layui-footer{ left:0; }
}
@media screen and (max-width:432px){
    .top_menu .layui-nav-item.showNotice[pc]{ display:none !important; }
    .panel{ width:100%; }
}